<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/documents" routerLinkActive="active">Docs</a>
      </li>
      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block dropdown-links">
          <button class="btn btn-outline-primary" id="proposalDropdown"
          ngbDropdownToggle>
          Proposals
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" routerLink="/proposals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" >Proposals</a>
            <a class="dropdown-item" routerLink="/proposals/new" routerLinkActive="active">New Proposal</a>
          </div>
        </div>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<h1>Navigation</h1>

<a routerLink="/home">Home</a>
<br/>
<a routerLink="/documents">Documents</a>
<br/>
<a routerLink="/proposals">Proposals</a>
<br/>
<a routerLink="/proposals/new">New Proposal</a>
<router-outlet></router-outlet>