<div class="container">
  <h1 class="headline">{{ pageTitle}}</h1>


  <div class="card mt-2" *ngFor="let document of documents">
    <img class="card-img-top" src="{{ document.image_url }}" alt="Card image cap" height="400px">
    <div class="card-header">
      <h3>{{ document.title }}</h3>
      <p class="card-text"><small class="text-muted">Last updated: {{ document.updated_at | date}}</small></p> 
    </div>
    <div class="card-body">

      <em>{{ document.description }}</em>
      <div>
        <a href="{{ document.file_url }}"> Download File</a>
      </div>
    </div>
    <div class="card-footer">
      
    </div>
  </div>
</div>